<div style="background-color: #ADD8E6; width: 100%; height: 800px; border: 9px solid #000000; text-align: center"><br>
  <nav>
    <ul>
      <li><a href="projects.html">Projects Page</a></li>
      <li><a href="Master Grade Sheet.html">Master Grade Sheet</a></li>
    <li><a href="week_09/quick_write.html">Quick write assignment</a></li>
    <li><a href="Javaproject.html">Personal Project</a></li>
    </ul>
  </nav>
  <h2 style="text-align: center">Anthony's Homepage </h2>
  
    <iframe width="500" height="300" src="https://www.youtube.com/embed/BGtROJeMPeE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src="../assets/pokemon-lifting.gif" width="500" height="300" alt=""/>
    <hr> <!-- horizontal Rule -->
  <figcaption>
      Above are my two favorite passtimes.<br>
      <br>
    I have been playing league of legends for over ten years now. I started when I was still a freshman in middle school. <br>
    I would Probrably keep playing this game as long as the servers continue to run.<br>
  <br>
    Working out has basically become a way of life for me at this point.
    </figcaption>
  </div>