<section class="container">

<div class="row">

  <div class="col-sm-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="col-sm-6">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="col-sm-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="col-sm-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
  </div>

</div>

<div class="row text-center">
  <a class="btn btn-secondary" href="#">
    View More Videos
  </a>
</div>

</section>