<section class="container">

<div class="row">

  <div class="col-sm-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dUXDuxqTxmo?si=6KpZqOMIErgcAWAJ" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="col-sm-6">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/jrYF-W8WCcQ?si=CO_37c1OMlSNqljl" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="col-sm-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VI79XQW4dIM?si=txDLgZrABdKjWjoW" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="col-sm-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eGz9DS-aIeY?si=WbggZnJng0yShtGG" frameborder="0" allowfullscreen></iframe>
  </div>

</div>

<div class="row text-center">
  <a class="btn btn-secondary" href="#">
    View More Videos
  </a>
</div>

</section>